/**
 * Responsive mixins
 */

@use 'sass:map';
@use '../variables-scss/breakpoints' as *;

$breakpoints: (
  'xs': $bp-xs,
  'sm': $bp-sm,
  'md': $bp-md,
  'lg': $bp-lg,
  'xl': $bp-xl,
  'xxl': $bp-xxl
);

@mixin media-up($breakpoint) {
  $bp-value: map.get($breakpoints, $breakpoint);
  
  @if $bp-value {
    @media (min-width: $bp-value) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

@mixin media-down($breakpoint) {
  $bp-value: map.get($breakpoints, $breakpoint);
  
  @if $bp-value {
    @media (max-width: ($bp-value - 1px)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

@mixin media-between($min-breakpoint, $max-breakpoint) {
  $min-value: map.get($breakpoints, $min-breakpoint);
  $max-value: map.get($breakpoints, $max-breakpoint);
  
  @if $min-value and $max-value {
    @media (min-width: $min-value) and (max-width: ($max-value - 1px)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoints: #{$min-breakpoint}, #{$max-breakpoint}";
  }
}
