/**
 * SCSS Colors
 */

$color-primary: #146b15;
$color-secondary: #32087a;
$color-accent: #c18214;

$color-text-primary: #111827;
$color-text-secondary: #6b7280;
$color-text-muted: #9ca3af;

$color-bg-primary: #ffffff;
$color-bg-secondary: #f9fafb;
$color-bg-dark: #111827;
